extends layout

block content
  h1 By 2025...
  p.lead According to the 2019 Urban Mobility Report, we can expect the following changes by 2025
  hr
  .row
    .col-md-6
      h2 Higher congestion cost
      p The average consumer's annual congestion cost will increase by 19%, to $1,280.
      p
        a.btn.btn-raised(href='#', role='button') View details »
    .col-md-6
      h2 More time wasted
      p The average commuter will waste 62 hours in traffic yearly. 
      p
        a.btn.btn-raised(href='#', role='button') View details »
    .col-md-6
      h2 More fuel used
      p 32 gallons of gas will be used in traffic jams alone per year. 
      p
        a.btn.btn-raised(href='#', role='button') View details »
    .col-md-6
      h2 Heading
      p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
      p
        a.btn.btn-raised(href='#', role='button') View details »