extends layout

block content
  h1 California's Transporation Issue
  p.lead Insert explanation here
  hr
  .row
    .col-md-6
      h2 Test 1
      p Text goes here
      p
        a.btn.btn-raised(href='#', role='button') View details »
    .col-md-6
      h2 Heading
      p Text goes there
      p 
        a.btn.btn-raised(href='#', role='button') View details »
    .col-md-6
      h2 Heading 3
      p Nope
      p
        a.btn.btn-raised(href='#', role='button') View details »
    .col-md-6
      h2 Heading 4
      p Yep
      p
        a.btn.btn-raised(href='#', role='button') View details »